# Node.js and React specific
/node_modules/
/assets/
# Environment variables


# IDE-specific
.idea/
.vscode/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db
.fuse_hidden*
.Trash-*

# Package Manager lock files
package-lock.json
yarn.lock

# Test Coverage
/coverage/

# Temporary or backup files
*.swp
*.swo
*.tmp

# Distribution files

